@model List<Kitchen.Models.Order>

<h2>All Orders</h2>
<div class="col-md-6">
    <form asp-action="Search" method="get" class="d-flex">
        <input type="text" name="searchString" class="form-control me-2" placeholder="Search by name or phone number..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Order Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Customer.Name</td>
                <td>@order.Date.ToShortDateString()</td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("OrderDetails", "Order", new { id = order.Id })">
                        Order Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
