@model Kitchen.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Sign In</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="form-group">
                <label asp-for="CustomerUserName" class="control-label">UserName</label>
                <input asp-for="CustomerUserName" class="form-control" />
                <span asp-validation-for="CustomerUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPassword" class="control-label">Password</label>
                <input asp-for="CustomerPassword" class="form-control" />
                <span asp-validation-for="CustomerPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
